<h1> <%= @figure.name %> </h1>

<h1> Landmarks </h1>

<% @figure.landmarks.each do |landmark| %>
  <%= landmark.name %>
<% end %>

<h1> Titles </h1>

<% @figure.titles.each do |title| %>
  <%= title.name %>
<% end %>
